<html>
    <head>
      {% if title %}
      <title>{{ title }} - Task1</title>
      {% else %}
      <title>Welcome to Task1</title>
      {% endif %}
    </head>
    <body>
        <div>Questionnaire: <a href="/">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <li style="color:red;">{{ message }}</li>
                {% else %}
                    <li style="color:blue;">{{ message }}</li>
                {% endif %}
              {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>