<html>
    <head>
      {% if title %}
      <title>{{ title }} - Task1</title>
      {% else %}
      <title>Welcome to Task1</title>
      {% endif %}
    </head>
    <body>
        <div>Questionnaire: <a href="/">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: blue;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>