{% extends "base.html" %}

{% block content %}
    <h1>Questions</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <ul>
        {% for i in range(12) %}
            {% set ques = form.question_fields[0][ 'question' + loop.index|string ] %}
        <li>
            <div>{{ ques.label }} {{ loop.index }} : 
                {{ form.questions[loop.index - 1].description }}
            </div>
            {{ ques(rows=4, cols=50) }}
            {% for error in ques.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br/><br/>
        </li>
        {% endfor %}
        </ul>
        <p>{{ form.submit(style="height:30;width:100px;background-color: #4CAF50;") }}</p>
    </form>
{% endblock %}